
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Подтверждение Instyle</title>
    <link rel="shortcut icon" type="image/x-icon" href="./img/system/title-logo.png" />
  </head>
  <style>
    @import 'https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500&display=swap';

    * {
        font-family: 'Montserrat';
        overflow: hidden;
    }
  </style>
  <body>

    <script src="./js/sweetalert2.all.min.js"></script>
    <script>
      Swal.fire({
        title: 'Подтверждение',
        text: 'Эл. адрес успешно подтвержден',
        icon: 'success',
        confirmButtonText: 'Продолжить'
      }).then((result) => {
        if (result.isConfirmed) window.location.href = '/login'
      })
    </script>
  </body>
</html>